In [1]:
import pandas as pd
#API KEY: AIzaSyCqScQVXc6kadBuA0bxV2mildmVaSA3024

In [295]:
data=pd.read_csv('NYC_Transit_Subway_Entrance_And_Exit_Data.csv')
data.columns

Index(['Division', 'Line', 'Station Name', 'Station Latitude',
       'Station Longitude', 'Route1', 'Route2', 'Route3', 'Route4', 'Route5',
       'Route6', 'Route7', 'Route8', 'Route9', 'Route10', 'Route11',
       'Entrance Type', 'Entry', 'Exit Only', 'Vending', 'Staffing',
       'Staff Hours', 'ADA', 'ADA Notes', 'Free Crossover',
       'North South Street', 'East West Street', 'Corner', 'Entrance Latitude',
       'Entrance Longitude', 'Station Location', 'Entrance Location'],
      dtype='object')

In [202]:
data.columns=[col.upper() for col in data.columns]
data=data.rename({'STATION NAME': 'STATION'}, axis=1) 
data.columns

Index(['DIVISION', 'LINE', 'STATION', 'STATION LATITUDE', 'STATION LONGITUDE',
       'ROUTE1', 'ROUTE2', 'ROUTE3', 'ROUTE4', 'ROUTE5', 'ROUTE6', 'ROUTE7',
       'ROUTE8', 'ROUTE9', 'ROUTE10', 'ROUTE11', 'ENTRANCE TYPE', 'ENTRY',
       'EXIT ONLY', 'VENDING', 'STAFFING', 'STAFF HOURS', 'ADA', 'ADA NOTES',
       'FREE CROSSOVER', 'NORTH SOUTH STREET', 'EAST WEST STREET', 'CORNER',
       'ENTRANCE LATITUDE', 'ENTRANCE LONGITUDE', 'STATION LOCATION',
       'ENTRANCE LOCATION'],
      dtype='object')

In [203]:
data=data.drop(['DIVISION', 'LINE','ROUTE1', 'ROUTE2', 'ROUTE3', 'ROUTE4', 'ROUTE5', 'ROUTE6', 'ROUTE7',
       'ROUTE8', 'ROUTE9', 'ROUTE10', 'ROUTE11', 'ENTRANCE TYPE', 'ENTRY',
       'EXIT ONLY', 'VENDING', 'STAFFING', 'STAFF HOURS', 'ADA', 'ADA NOTES',
       'FREE CROSSOVER', 'NORTH SOUTH STREET', 'EAST WEST STREET', 'CORNER'],axis=1)
data.head()

,STATION,STATION LATITUDE,STATION LONGITUDE,ENTRANCE LATITUDE,ENTRANCE LONGITUDE,STATION LOCATION,ENTRANCE LOCATION
0,25th St,40.660397,-73.998091,40.660489,-73.998220,"(40.660397, -73.998091)","(40.660489, -73.99822)"
1,25th St,40.660397,-73.998091,40.660323,-73.997952,"(40.660397, -73.998091)","(40.660323, -73.997952)"
2,36th St,40.655144,-74.003549,40.654676,-74.004306,"(40.655144, -74.003549)","(40.654676, -74.004306)"
3,36th St,40.655144,-74.003549,40.654365,-74.004113,"(40.655144, -74.003549)","(40.654365, -74.004113)"
4,36th St,40.655144,-74.003549,40.654490,-74.004499,"(40.655144, -74.003549)","(40.65449, -74.004499)"

In [160]:
turnstile=pd.read_csv('turnstile_data')
turnstile.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [161]:
turnstile.columns=[col.strip() for col in turnstile.columns]

In [204]:
data=data.drop(['ENTRANCE LATITUDE','ENTRANCE LONGITUDE','ENTRANCE LOCATION' ],axis=1)
data.head()

   STATION  STATION LATITUDE  STATION LONGITUDE         STATION LOCATION
0  25th St         40.660397         -73.998091  (40.660397, -73.998091)
1  25th St         40.660397         -73.998091  (40.660397, -73.998091)
2  36th St         40.655144         -74.003549  (40.655144, -74.003549)
3  36th St         40.655144         -74.003549  (40.655144, -74.003549)
4  36th St         40.655144         -74.003549  (40.655144, -74.003549)

In [8]:
#Question: 
merged =pd.merge(turnstile,
                 data[['STATION', 'STATION LATITUDE', 'STATION LONGITUDE', 'ENTRANCE LATITUDE',
                 'ENTRANCE LONGITUDE', 'STATION LOCATION', 'ENTRANCE LOCleftATION']],
                 on='STATION')

In [69]:
df=pd.merge(data, turnstile, left_on='STATION', right_on='STATION', how='outer')

In [79]:
BUSY_STATION=['34 ST-PENN STA','23 ST','FULTON ST','86 ST','125 ST','42 ST-PORT AUTH','59 ST'
                'CANAL ST','TIMES SQ-42 ST','ATL AV-BARCLAY']

In [168]:
TOP_STATION = [['34 ST-PENN STA',40.7520, -73.9933],               
                ['Times Sq 42nd St',40.7553, -73.9869],
                ['23 St', 40.7427, -73.9926],
                ['86 St',40.4640,-73.5706] ,
                ['Fulton St', 40.7094, 74.0083], 
                ['59 St', 40.7684, -73.9818],
                ['125 St',40.8049, 73.9385],
                ['14 St-Union Sq',40.4429,-73.5914],
                ['47-50 Sts Rock',40.7587, 73.9813],
                ['Flushing-Main', 40.7584, 73.8305] ,
                ['96 St',40.7942, 73.9721],
                ['42 St-Port Auth',40.4525, -73.5923],
                ['14 St',40.7388, -73.9997], 
                ['59 St Columbus', 40.4659, -73.5854],
                ['Canal St', 40.4373, -74.0036],
                ['50 St', 40.761, -73.9840],
                ['72 St', 40.468, -73.5730], 
                ['28 St',40.7433, 73.9841]]

In [205]:
TOP_STATIONS_DF = pd.DataFrame(data = TOP_STATION, columns = ['STATION', 'LATITUDE','LONGTITUDE'])

In [32]:
data.head()

   STATION  STATION LATITUDE  STATION LONGITUDE
0  25th St         40.660397         -73.998091
1  25th St         40.660397         -73.998091
2  36th St         40.655144         -74.003549
3  36th St         40.655144         -74.003549
4  36th St         40.655144         -74.003549

In [254]:
turnstile.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581

In [2]:
# >>> from geopy.geocoders import Nominatim
# >>> geolocator = Nominatim(user_agent="specify_your_app_name_here")
# >>> location = geolocator.geocode("34 ST-PENN STA")
# >>> print(location.address)
# Flatiron Building, 175, 5th Avenue, Flatiron, New York, NYC, New York, ...
# print((location.latitude, location.longitude))

# print(location.raw)

In [296]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="AIzaSyCu4-aQFu2VlzJlU8tZlFnQxD_cm2fF6cs")
location = geolocator.reverse("40.660397,-73.998091")
location.address

'755, 4th Avenue, Sunset Park, BK, Kings County, NYC, New York, 11232, USA'

In [3]:
# location = geolocator.geocode("34 ST-PENN STA")
# print(location.address)

In [206]:
TOP_STATIONS_DF['address'] = TOP_STATIONS_DF.apply(lambda row: geolocator.reverse((row['LATITUDE'], row['LONGTITUDE'])), axis=1)

In [207]:
TOP_STATIONS_DF['address'][5]

Location(Columbus Circle, Manhattan Community Board 7, Manhattan, New York County, NYC, New York, 10023, USA, (40.7680346, -73.981891365925, 0.0))

In [188]:
# TOP_STATIONS_DF=pd.concat([TOP_STATIONS_DF,TOP_STATIONS_DF.address.str.split(',',expand=True)],1)

In [208]:
TOP_STATIONS_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
STATION       18 non-null object
LATITUDE      18 non-null float64
LONGTITUDE    18 non-null float64
address       18 non-null object
dtypes: float64(2), object(2)
memory usage: 656.0+ bytes

In [209]:
TOP_STATIONS_DF.address = TOP_STATIONS_DF.address.astype(str)

In [210]:
TOP_STATIONS_DF['address']

0     Garment District, Manhattan Community Board 4,...
1     Times Square Tower, 7, Times Square, Manhattan...
2     The Caroline, 700, 6th Avenue, Flatiron Distri...
3      Short Beach Island, Nassau County, New York, USA
4                            Ошская область, Кыргызстан
5     Columbus Circle, Manhattan Community Board 7, ...
6                            Ошская область, Кыргызстан
7      Short Beach Island, Nassau County, New York, USA
8                            Ошская область, Кыргызстан
9                            Ошская область, Кыргызстан
10                           Ошская область, Кыргызстан
11     Short Beach Island, Nassau County, New York, USA
12    64, 7th Avenue, Chelsea, Manhattan Community B...
13     Short Beach Island, Nassau County, New York, USA
14    Skeleton Hill Island, Middletown Township, Mon...
15    750 Seventh Avenue, 750, 7th Avenue, Times Squ...
16     Short Beach Island, Nassau County, New York, USA
17                           Ошская область, Кыргызстан
Name: address, dtype: object

In [221]:
TOP_STATIONS_DF['zipcode']=TOP_STATIONS_DF['address'].str.extract('(\d{5})')

In [222]:
TOP_STATIONS_DF

,STATION,LATITUDE,LONGTITUDE,address,zipcode
0,34 ST-PENN STA,40.7520,-73.9933,"Garment District, Manhattan Community Board 4,...",NaN
1,Times Sq 42nd St,40.7553,-73.9869,"Times Square Tower, 7, Times Square, Manhattan...",10018
2,23 St,40.7427,-73.9926,"The Caroline, 700, 6th Avenue, Flatiron Distri...",10019
3,86 St,40.4640,-73.5706,"Short Beach Island, Nassau County, New York, USA",NaN
4,Fulton St,40.7094,74.0083,"Ошская область, Кыргызстан",NaN
5,59 St,40.7684,-73.9818,"Columbus Circle, Manhattan Community Board 7, ...",10023
6,125 St,40.8049,73.9385,"Ошская область, Кыргызстан",NaN
7,14 St-Union Sq,40.4429,-73.5914,"Short Beach Island, Nassau County, New York, USA",NaN
8,47-50 Sts Rock,40.7587,73.9813,"Ошская область, Кыргызстан",NaN
9,Flushing-Main,40.7584,73.8305,"Ошская область, Кыргызстан",NaN
10,96 St,40.7942,73.9721,"Ошская область, Кыргызстан",NaN
11,42 St-Port Auth,40.4525,-73.5923,"Short Beach Island, Nassau County, New York, USA",NaN
12,14 St,40.7388,-73.9997,"64, 7th Avenue, Chelsea, Manhattan Community B...",10011
13,59 St Columbus,40.4659,-73.5854,"Short Beach Island, Nassau County, New York, USA",NaN
14,Canal St,40.4373,-74.0036,"Skeleton Hill Island, Middletown Township, Mon...",07732
15,50 St,40.7610,-73.9840,"750 Seventh Avenue, 750, 7th Avenue, Times Squ...",10019
16,72 St,40.4680,-73.5730,"Short Beach Island, Nassau County, New York, USA",NaN
17,28 St,40.7433,73.9841,"Ошская область, Кыргызстан",NaN

In [240]:
df=pd.read_csv('Income_Zipcode.csv')
df.isnull().sum()

Unnamed: 0      4927
INCOME LEVEL    5132
TOTAL INCOME    4927
dtype: int64

In [250]:
TOP_STATIONS_DF['address'] = TOP_STATIONS_DF.apply(lambda row: geolocator.reverse((row['LATITUDE'], row['LONGTITUDE'])), axis=1)

In [302]:
# from geopy.geocoders import Nominatim
# geolocator = Nominatim(user_agent="AIzaSyCu4-aQFu2VlzJlU8tZlFnQxD_cm2fF6cs")
# location = geolocator.reverse("1854 36th Ave, San Francisco, CA")
# print(location)

# print((location.latitude, location.longitude))

In [304]:
avg_income=pd.read_csv('ny_demogr.csv')

In [307]:
avg_income.isna().count()

Zipcode\tIncome    1147
dtype: int64

In [310]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="AIzaSyCu4-aQFu2VlzJlU8tZlFnQxD_cm2fF6cs")
location = geolocator.geocode("755, 4th Avenue, Sunset Park, BK, Kings County, NYC, New York, 11232, USA")
location

Location(755, 4th Avenue, Sunset Park, BK, Kings County, NYC, New York, 11232, USA, (40.6601369, -73.9979337683036, 0.0))

In [ ]:
TOP_STATIONS_DF['address'] = TOP_STATIONS_DF.apply(lambda row: geolocator.reverse((row['LATITUDE'], row['LONGTITUDE'])), axis=1)
# TOP_STATIONS_DF['zipcode']=TOP_STATIONS_DF['address'].str.extract('(\d{5})')