In [3]:
import pandas as pd
from datetime import datetime
import csv
import urllib.request
import codecs

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 25)
pd.set_option('display.precision', 3)

In [5]:
# Copy desired dates from website: http://web.mta.info/developers/turnstile.html
raw_dates_txt = """
Saturday, January 12, 2019
Saturday, January 05, 2019
"""

### Creates 'turnstile_data' file and saves to project folder

In [6]:
date_obj_lst = [datetime.strftime(datetime.strptime(line, '%A, %B %d, %Y'), '%y%m%d') for line in raw_dates_txt.split('\n') if line]
    
turnstile_url = ['http://web.mta.info/developers/data/nyct/turnstile/turnstile_' + date + '.txt' for date in date_obj_lst]

with open('turnstile_data', 'w') as outfile:
    writer = csv.writer(outfile, delimiter=',')
    ftpstream = urllib.request.urlopen(turnstile_url[0])
    csvfile = csv.reader(codecs.iterdecode(ftpstream, 'utf-8'))
    for line in csvfile:
        writer.writerow(line)    
    for url in turnstile_url[1:]:
        ftpstream = urllib.request.urlopen(url)
        csvfile = csv.reader(codecs.iterdecode(ftpstream, 'utf-8'))
        firstline = True
        for line in csvfile:
            if firstline:    #skip first line
                firstline = False
                continue
            writer.writerow(line)

In [7]:
with open('turnstile_data') as input:
    Jan05 = pd.read_csv(input)

In [8]:
turnstile.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [172]:
Jan05.isnull().sum() # equivalent to: Jan05.isna().sum()

C/A                                                                     0
UNIT                                                                    0
SCP                                                                     0
STATION                                                                 0
LINENAME                                                                0
DIVISION                                                                0
DATE                                                                    0
TIME                                                                    0
DESC                                                                    0
ENTRIES                                                                 0
EXITS                                                                   0
dtype: int64

In [173]:
Jan05.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 804822 entries, 0 to 804821
Data columns (total 11 columns):
C/A                                                                     804822 non-null object
UNIT                                                                    804822 non-null object
SCP                                                                     804822 non-null object
STATION                                                                 804822 non-null object
LINENAME                                                                804822 non-null object
DIVISION                                                                804822 non-null object
DATE                                                                    804822 non-null object
TIME                                                                    804822 non-null object
DESC                                                                    804822 non-null object
ENTRIES                                                                 804822 non-null int64
EXITS                                                                   804822 non-null int64
dtypes: int64(2), object(9)
memory usage: 67.5+ MB

In [174]:
Jan05.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/05/2019,03:00:00,REGULAR,6897012,2338472
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/05/2019,07:00:00,REGULAR,6897023,2338487
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/05/2019,11:00:00,REGULAR,6897083,2338565
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/05/2019,15:00:00,REGULAR,6897262,2338624
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/05/2019,19:00:00,REGULAR,6897572,2338679

In [175]:
Jan05.columns = [col.strip() for col in Jan05.columns]
Jan05.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [176]:
Jan05['ENTRIES DIFF'] = Jan05.groupby('STATION')['ENTRIES'].diff()

In [177]:
Jan05['ENTRIES DIFF'] = Jan05.groupby('STATION')['ENTRIES'].diff()
Jan05['EXITS DIFF'] = Jan05.groupby('STATION')['EXITS'].diff()

In [178]:
Jan05[Jan05['ENTRIES DIFF'] < 0].count()
#since we have 2% of the dirty data, we can drop the data

C/A             16123
UNIT            16123
SCP             16123
STATION         16123
LINENAME        16123
DIVISION        16123
DATE            16123
TIME            16123
DESC            16123
ENTRIES         16123
EXITS           16123
ENTRIES DIFF    16123
EXITS DIFF      16123
dtype: int64

In [179]:
Jan05[Jan05['EXITS DIFF'] < 0].count()

C/A             14955
UNIT            14955
SCP             14955
STATION         14955
LINENAME        14955
DIVISION        14955
DATE            14955
TIME            14955
DESC            14955
ENTRIES         14955
EXITS           14955
ENTRIES DIFF    14955
EXITS DIFF      14955
dtype: int64

In [180]:
Jan05[(Jan05['ENTRIES DIFF'] < 0) & (Jan05['EXITS DIFF'] < 0)].count()

C/A             10359
UNIT            10359
SCP             10359
STATION         10359
LINENAME        10359
DIVISION        10359
DATE            10359
TIME            10359
DESC            10359
ENTRIES         10359
EXITS           10359
ENTRIES DIFF    10359
EXITS DIFF      10359
dtype: int64

In [181]:
Jan05[(Jan05['ENTRIES DIFF'] < 0) | (Jan05['EXITS DIFF'] < 0)].count()

C/A             20719
UNIT            20719
SCP             20719
STATION         20719
LINENAME        20719
DIVISION        20719
DATE            20719
TIME            20719
DESC            20719
ENTRIES         20719
EXITS           20719
ENTRIES DIFF    20719
EXITS DIFF      20719
dtype: int64

In [182]:
Jan05['ENTRIES DIFF'].isna().sum()

377

In [183]:
Jan05['EXITS DIFF'].isna().sum()

377

In [184]:
#dropping the negative difference and nan
Jan05=Jan05.drop(Jan05[Jan05['ENTRIES DIFF'] < 0].index)
Jan05=Jan05.drop(Jan05[Jan05['EXITS DIFF'] < 0].index)
Jan05=Jan05.dropna()

In [185]:
Jan05.isna().sum()

C/A             0
UNIT            0
SCP             0
STATION         0
LINENAME        0
DIVISION        0
DATE            0
TIME            0
DESC            0
ENTRIES         0
EXITS           0
ENTRIES DIFF    0
EXITS DIFF      0
dtype: int64

In [186]:
#station name cleansing
#the strip() removes characters from both left and right based on the argument
Jan05['STATION']=[name.strip() for name in Jan05.STATION]

### Challenge 9
**Over multiple weeks, sum total ridership for each station and sort them, so you can find out the stations with the highest traffic during the time you investigate**

In [188]:
Jan05['year_month'] = pd.to_datetime(Jan05['DATE']).dt.to_period('M')

In [189]:
Jan05.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,ENTRIES DIFF,EXITS DIFF,year_month
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/05/2019,07:00:00,REGULAR,6897023,2338487,11.0,15.0,2019-01
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/05/2019,11:00:00,REGULAR,6897083,2338565,60.0,78.0,2019-01
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/05/2019,15:00:00,REGULAR,6897262,2338624,179.0,59.0,2019-01
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/05/2019,19:00:00,REGULAR,6897572,2338679,310.0,55.0,2019-01
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/05/2019,23:00:00,REGULAR,6897740,2338703,168.0,24.0,2019-01

In [190]:
Jan05['year_month_station'] = Jan05['year_month'].map(str) + ' ' + Jan05['STATION']

In [191]:
Jan05.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,ENTRIES DIFF,EXITS DIFF,year_month,year_month_station
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/05/2019,07:00:00,REGULAR,6897023,2338487,11.0,15.0,2019-01,2019-01 59 ST
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/05/2019,11:00:00,REGULAR,6897083,2338565,60.0,78.0,2019-01,2019-01 59 ST
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/05/2019,15:00:00,REGULAR,6897262,2338624,179.0,59.0,2019-01,2019-01 59 ST
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/05/2019,19:00:00,REGULAR,6897572,2338679,310.0,55.0,2019-01,2019-01 59 ST
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/05/2019,23:00:00,REGULAR,6897740,2338703,168.0,24.0,2019-01,2019-01 59 ST

In [192]:
Jan05.groupby('year_month_station')['ENTRIES DIFF'].sum()

year_month_station
2018-12 1 AV               3.940e+09
2018-12 103 ST             1.875e+08
2018-12 103 ST-CORONA      6.658e+07
2018-12 104 ST             8.389e+09
2018-12 110 ST             2.966e+07
2018-12 111 ST             2.048e+08
2018-12 116 ST             4.485e+09
2018-12 116 ST-COLUMBIA    3.473e+09
2018-12 121 ST             5.838e+09
2018-12 125 ST             1.085e+10
2018-12 135 ST             2.795e+08
2018-12 137 ST CITY COL    5.649e+08
                             ...
2019-01 WEST FARMS SQ      4.287e+08
2019-01 WESTCHESTER SQ     7.163e+06
2019-01 WHITEHALL S-FRY    1.394e+08
2019-01 WHITLOCK AV        3.980e+06
2019-01 WILSON AV          7.731e+05
2019-01 WINTHROP ST        1.625e+07
2019-01 WOODHAVEN BLVD     3.812e+07
2019-01 WOODLAWN           5.970e+06
2019-01 WORLD TRADE CTR    1.587e+09
2019-01 WTC-CORTLANDT      7.309e+08
2019-01 YORK ST            1.019e+05
2019-01 ZEREGA AV          8.418e+05
Name: ENTRIES DIFF, Length: 754, dtype: float64

In [ ]:
plt.figure(figsize=[200,100])
plt.plot(df_station_total)

In [ ]:
df_station_total = Jan05[Jan05['ENTRIES DIFF'].sum()]
df_station_total

In [ ]:
ym_station = [name for name in Jan05['year_month_station'].unique()]

In [ ]:
df_ym_station_sort= (Jan05.set_index(ym_station)
                              .sort_index())